// Heading Color
$heading-color: #1f1f2c;

// Text Color
$text-color: #636363;

// Default Background
$bg-default: #c92f2f;

// Gray Background
$bg-gray: #f3f3f3;;

// Primary Color
$pri-color: #bd177a;

// White Color
$white-color: #ffffff;

// Dark Color
$dark-color: #141414;

// Border Color
$border-color: #ebebeb;

// Hover Color
$hover-color: #c92f2f;

// Footer Color
$footer-color: #2d2d2d;

// Secondary Color
$secondary-color: #959595;